.placeholder {
    position: absolute;
    color: #888888;
    top: 24px;
    left: 24px;
    pointer-events: none;
    user-select: none;
}

.content-editable {
    outline: none;
}

.content-editable:focus {
    outline: none;
}

.test {
    width: 200px
}